import(mclust)

importFrom("grDevices", "xy.coords")
importFrom("graphics", "abline", "axis", "grid", "layout", "legend",
            "lines", "mtext", "pairs", "par", "plot", "points", "strwidth")
importFrom("stats", "coef", "cor", "lm", "lm.fit", "loess", 
           "mahalanobis", "predict", "residuals", "sd")
importFrom("utils", "flush.console", "installed.packages",
           "setTxtProgressBar", "txtProgressBar")
importFrom("rgl", "plot3d")

exportPattern("^[^\\.]")

S3method("print", "msir")
S3method("summary", "msir")
S3method("print", "summary.msir")
S3method("plot", "msir")
